@import '../base/variables';

.header {
  width: 100%;
  padding: 32px 190px;
  
  &__container {
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;
  }
  
  &__icon {
    display: block;
    height: auto;
  }
}
