@import '../base/variables';

.gender-selection {
  width: 100%;
  padding: 1px 190px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    width: 100%;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #fff;
    margin-bottom: 56px;
  }

  &__image {
    width: 160px;
    height: 160px;
    object-fit: contain;
  }

  &__buttons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  &__button {
    min-width: 150px;
    padding: 14px 40px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #252525;
  }
}
