@import '../base/variables';

.oxygen-measurement {
  width: 100%;
  padding: 32px 190px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(100vh - 120px);
  position: relative;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;
    position: relative;
    min-height: 100%;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 24px;
    width: 100%;
    min-height: calc(100vh - 200px);
    position: relative;
  }

  &__instructions {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin: 0;
    line-height: 1.4;
    width: 424px;
  }

  &__display {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__display-box {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    min-width: 200px;
  }

  &__display-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #252525;
    margin: 0 0 16px 0;
  }

  &__display-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__display-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  &__display-value {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #252525;
    border: none;
    outline: none;
    background: transparent;
    width: 80px;
    padding: 0;
    text-align: left;

    &::placeholder {
      color: #999;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__display-unit {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #252525;
  }

  &__illustration {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__image {
    width: 319px;
    height: 393px;
    object-fit: contain;
  }

  &__button-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #252525;
  }
}
