@import '../styles/base/variables';

.home {
    min-height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;



    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 56px;
        color: #54ffff;
        margin-bottom: 8px;
    }

    &__subtitle {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        line-height: 153%;
        text-align: center;
        color: #fff;

    }

    &__tagline {
        font-weight: 500;
        font-size: 24px;
        line-height: 153%;
        text-align: center;
        color: #fff;
    }

    &__button-wrapper {
        margin-top: 32px;
    }

    &__button {
        border-radius: 8px;
        padding: 8px 80px;
        width: 243px;
        height: 58px;
        font-weight: 500;
        font-size: 28px;
        text-align: center;
        color: #1e1e1e;
        margin-bottom: 62px;
    }
}