.main-layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  &__content {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
